# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

serviceAccountKey.json



# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env file
.env 

app-example

# generated native folders
/ios
/android

# VSCode
.vscode/*

OFFLINE_COMPLETE.md
OFFLINE_DOCUMENTATION_INDEX.md
OFFLINE_GUIDE.md
OFFLINE_IMPLEMENTATION_CHECKLIST.md
OFFLINE_IMPLEMENTATION_FINISHED.md
OFFLINE_QUICK_START.md
OFFLINE_SETUP.md
OFFLINE_SUMMARY.md
README_OFFLINE.md